.home {
  overflow: hidden;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #282d32;
}

.home .herosection {
  width: 100%;
  height: 550px;
}

.home .herosection img {
  width: 100%;
  height: 100%;
}

.home .ourspecialty,
.home .ourmotive {
  display: flex;
  padding: 5%;
}

.home .ourspecialty .whychooseus,
.home .ourspecialty .whychooseustext,
.home .ourmotive .motiveheading,
.home .ourmotive .motiveexplain {
  width: 50%;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.home .ourspecialty .whychooseus .headingborder,
.home .ourmotive .motiveheading .headingborder {
  position: absolute;
  text-align: center;
  z-index: 1;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(209, 107, 165, 0.8),
    rgba(134, 168, 231, 0.8)
  );
  mask: inherit;
  -webkit-mask: linear-gradient(
    to right,
    rgba(209, 107, 165, 0.8),
    rgba(134, 168, 231, 0.8)
  );
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  height: 100%;
  width: 80%;
  padding: 3%;
  align-items: center;
  display: flex;
}

.home .ourspecialty .whychooseus h1,
.home .ourmotive .motiveheading h1 {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(209, 107, 165, 0.8),
    rgba(134, 168, 231, 0.8)
  );
  mask: inherit;
  -webkit-mask: linear-gradient(
    to right,
    rgba(209, 107, 165, 0.8),
    rgba(134, 168, 231, 0.8)
  );
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.home .ourspecialty .whychooseustext p,
.home .ourmotive .motiveexplain p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.home .ourspecialty .whychooseustext p span,
.home .ourmotive .motiveexplain p span {
  display: inline-block;
}

.home .joinus {
  width: 100%;
  padding: 5%;
  text-align: center;
  display: flex;
  align-items: center;
}

.home .joinus p {
  width: 100%;
  text-align: center;
  margin: 0;
  align-items: center;

  font-size: 18px;
}

.home .joinus p a {
  text-decoration: none;
  color: #d16ba5;
  font-weight: 700;
}

.home .joinus p a:hover {
  color: #86a8e7;
}
