.footer {
  padding: 5%;
  background: #282d32;
  color: #f0f9ff;
  text-align: center;
}

.footer .brandname {
  width: 100%;
}

.footer .brandname img {
  width: 10%;
  margin: 0;
}

.footer .services {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.footer .services > div {
  padding: 0 3%;
}

.footer .services > div > a {
  color: inherit;
  text-decoration: none;
}

.footer .services > div > a:hover {
  text-decoration: underline;
}

.footer .social {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.footer .social a {
  width: 40px;
  height: 40px;
  margin: 0 1.5%;
  align-items: center;
}

.footer .social a button {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 1px solid #f0f9ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.footer .social a button img {
  width: 60%;
  height: 60%;
}

.footer .social a button:hover {
  opacity: 1;
}

.footer .copyrights {
  font-size: 12px;
  margin-top: 1%;
}

.footer .copyrights p {
  opacity: 1;
  margin: 0;
}

.footer .copyrights p span {
  opacity: 0.5 !important;
}
